* {
  margin: 0;
  background-color: #212529;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  margin-top: 1rem;
}

.header {
  color: white;
  text-transform: uppercase;
  font-family: doodle;
  font-weight: bold;
  font-size: 1.5rem;
}
.content {
  position: relative;
}

.background {
  width: 360px;
  height: 670px;
}

@font-face {
  font-family: doodle;
  src: url(./font/IndieFlower-Regular.ttf);
}
